:root{
    --primary-color: #4887BA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*naviagtion bar*/

#banner{
    margin-top: 30px;
    padding-left: 20px;
    /*padding-right: 10px;*/
    width: 100%;
}

.navbar{
    margin: 30px auto;
    float: right;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-right: 250px;
}

ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;

}
bar ul li a::after{
    content: '';
    width:0;
    height:10px;
    background: #fde74c;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:-55px;
    transition:0.5s;
}
bar ul li a:hover::after{
    width: 100%;
}
.logo{
    width: 150px;
}

#menuBtn{
    width: 50px;
    cursor: pointer;
    float: right;
    padding-top: 10px;
    z-index: 2;
}

/*yellow bar things*/

.ul{
    flex:1;
    text-align:right;
}
ul li{
    display: inline-block;
    list-style:none;
    margin: 0 25px;
    text-align: right;

}
ul li a{
    text-decoration:none;
    color: black;
    padding: 0 10px;
position:relative;
}
.clearfix:after {
    text-decoration: none;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
    .clearfix { display: inline-block; }
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }


/* side navigation bar*/

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #e56b6f;
    z-index: 2;
    transition: .5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/*experiment*/


.vessel {
    background: linear-gradient(0deg, #e56b6f, #fde74c);
    width: auto;
    height: 100vh;

}

.slide-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.slider-img {
    width: 30%;
    height: auto;
    padding-top: 50px;
    border-radius: 20px;
    padding-bottom: 50px;  
}

#button{
    width: 100px;

}

/*.img-box{
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.caca {
    display: flex;
    padding-left: 40px;
}












/*pet information swipy thingy*/

.icons{
    width: 50px;
    height: 50px;
    border: #e56b6f;
}

.radio-tile-group{
    /*lex-wrap: wrap;*/
    /*justify-content: center;*/
    margin-top: 100px;
    float: left;
    width: 300px;
    padding-left: 50px;
}


.input-container{
   position: relative;
   height: 7rem;
   width: 7rem;
   margin: 0.5rem;
}

.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 300ms ease;
}

.input-container label{
    color: #4887ba;
    font-weight: 600;
}

input:checked + .radio-tile{
    background-color: #e56b6f;
    box-shadow: 0 0 12px var(--primary-color);
}

/*pictures*/

.card {
    width: 100%;
    height: 100%;
    position: absolute;
}

.card img {
    /*width: 100%;*/
    /*height: 100%;*/
    width: 30%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    padding-top: 50px;
}

.swiper{
    height: 70vh;
    aspect-ratio: 2/3;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
    /*float: right;*/
}

.lascartas{
    float:right;
    background: linear-gradient(0deg, #e56b6f, #fde74c);
    width: 100vw;
    height: 100vw;
    overflow: hidden; /*didn't do anything*/
    display: flex; /*also didn't do visably anything*/
    justify-content: space-evenly;
    /*align-items: center;*/
}

.cartas {
    float: right;
}


