#banner{
    width:800 px;
    height: 100 px;
    display:flex;
    /*align-items: center;*/
    width:100%;
    /*margin:10px;*/
    padding-bottom: 20px;
    margin-bottom:20px;
    margin-top:50px;
}

.navbar{
margin: 30px auto;
display: flex;
align-items: center;
float:right;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;

}

.ul{
    flex:1;
    text-align:right;
}
ul li{
    display: inline-block;
    list-style:none;
    margin: 0 25px;
    text-align: right;

}
ul li a{
text-decoration:none;
color: black;
padding: 0 10px;
position:relative;
}

bar ul li a::after{
    content: '';
    width:0;
    height:10px;
    background: #fde74c;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:-55px;
    transition:0.5s;
}
bar ul li a:hover::after{
    width: 100%;
}

.navbar-icons img{
    height: 25px;
    margin-left: 40px;
    cursor: pointer;
    position: static;
    float:left;
}


.search-box{
    width:45%;
    display:flex;
    padding-bottom: 1px solid #ddd;
    margin: 10px 0 30px;

}
.search-box img{
    height: 25px;
    width:25px;
    cursor:pointer;
}
.search-box input{
    width:100%;
    margin-left:15%;
    font-size:17px;
    border:0;
    outline:none;
}
#container{
  
    margin:10px auto;
    padding:10px;
    width:100%;
}
#container_bottom{
    padding: 10px;
    display:flex;
    /*margin-top:80px;*/
    margin-left: 10px;
    margin-right:10px;
    width:1000px;
    /*width: 861px border: 2px solid #000000;*/
    float:left;
}
#sideNav{
    width:250px;
    height:100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color:#E56B6F;
    z-index: 2;
    transition: .5s;
    }
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    float:left;
}
#menuBtn{
    width:50px;
    position:relative;
    /*right:65px;
    top:35px;*/
    z-index:3;
    cursor:pointer;
    float:right;
}
.img-box{
width:100%;
margin:10px;
position:relative;
text-align:center;

}

.KennelConnect{
    width: 150px;
}

/*start of the rest of coding for pg*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

#resource{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.resource-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resource-heading span{
    color: #154770;
}

.resource-heading h77{
    font-size: 30px;
    font-weight: 600;
}

.resource-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.resource-box{
    width: 350px;
    background-color: aliceblue;
    border: 1px solid #f1f1f1;
    margin: 20px;
}

.resource-img{
    width: 100%;
    height: auto;
}

.resource-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ress-textx{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.ress-textx span{
    color: #E56B6F;
    font-size: 20px;
    cursor: pointer;
}


.ress-textx a{
    color: #000000;
}

.ress-textx a:hover{
    color: #c0585c;
    transition: all ease 0.3s;
}



#tooltip{
    position: relative;
    cursor: pointer;
    padding: 7px;
}
#tooltipText{
    position: absolute;
    left: 15%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#tooltipText::before{
    content: "";
    position: absolute;
    left: 35%;
    top: 100%;
    translate: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
}

#tooltip:hover #tooltipText{
    top: -150%;
    visibility: visible;
    opacity: 1;
}